body {
  font-family: "Poppins";
  background-color: #c0c0f5;
}

html {
  scroll-behavior: smooth;
}
.wraper {
  max-width: 900px;
  margin: auto;
  padding: 40px 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 56px rgba(239, 239, 246, 0.5);
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin-left: 80px;
  float: left;
}

.menuLinks li a {
  color: #8a2be2;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.menuLinks li a:hover {
  color: black;
}
.menu {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  padding: 10px;
  color: blueviolet;
  background-color: white;
  padding: 5px 35px;
  border-bottom: 1px solid lightgray;
}
#home {
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
#home:hover {
  color: black;
}
.material-symbols-outlined {
  color: #8a2be2;
}

.about {
  display: flex;
  justify-content: space-between;
  margin: 30px 5px;
  padding: 15px;
  padding-top: 80px;
  padding-bottom: 40px;
  color: rgb(94, 94, 94);
}
.aboutDescription {
  width: 550px;
  text-align: justify;
}
h1 {
  font-size: 55px;
  margin: 1px;
  color: #892be2c7;
}

.waving {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.location,
.check,
.iconLinkedin,
.iconGitHub {
  align-items: center;
  display: flex;
}

.contactIcons {
  align-items: center;
}

.picture img {
  box-shadow: 26px 33px rgba(192, 192, 245, 1);
  border: 10px solid white;
  margin-right: 60px;
}

.skills {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding-top: 80px;
}
.skills p {
  text-align: center;
  font-size: 18px;
  color: rgb(94, 94, 94);
}
.skillsTitle {
  background-color: rgb(193, 193, 245, 0.5);
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 60px;
  padding: 2px 5px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  max-width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.grid div {
  max-width: 100%;
}
.grid img {
  width: 45px;
  height: 45px;
  transition: all 300ms ease-in-out;
}

.grid img:hover {
  scale: 1.5;
}

.grid div p {
  font-size: 16px;
  color: rgb(94, 94, 94);
  margin-top: 0;
}

.projects {
  padding-top: 80px;
}
.projectsTitle {
  background-color: rgb(193, 193, 245, 0.5);
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 80px;
  padding: 2px 5px;
}

.projectsDescription {
  text-align: center;
  font-size: 18px;
  color: rgb(94, 94, 94);
}

.firstProject,
.thirdProject {
  flex-direction: row;
  display: flex;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.firstProjectPicture,
.thirdProjectPicture {
  text-align: center;
  background-color: rgba(193, 193, 245, 0.165);
  padding: 30px;
  width: 50%;
  align-items: center;
}
.firstProject img,
.thirdProject img {
  width: 350px;
  transition: all 300ms ease-in-out;
  border-radius: 10px;
}
.firstProjectDescription,
.thirdProjectDescription {
  padding: 30px;
  width: 50%;
}

.firstProjectDescription p,
.secondProjectDescription p,
.thirdProjectDescription p {
  color: rgb(94, 94, 94);
  font-size: 14px;
}

.skillsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.skillType {
  background-color: rgb(193, 193, 245, 0.5);
  padding: 0px 19px;
  margin: 4px;
  border-radius: 20px;
  line-height: 1px;
  font-size: 12px;
  box-shadow: 4px 7px 17px rgba(0, 0, 0, 0.1);
}

.skillType P {
  font-size: 12px;
}

.firstProject img:hover,
.thirdProject img:hover {
  scale: 1.1;
}

.firstProjectTitle,
.thirdProjectTitle {
  font-size: 16px;
  font-weight: bold;
  color: rgb(17, 24, 39);
  margin-top: 0;
}

.secondProject {
  flex-direction: row;
  display: flex;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.secondProjectPicture {
  text-align: center;
  background-color: rgba(193, 193, 245, 0.165);
  padding: 30px;
  width: 50%;
  align-items: center;
}
.secondProject img {
  width: 350px;
  transition: all 300ms ease-in-out;
  border-radius: 10px;
}
.secondProjectDescription {
  padding: 30px;
  width: 50%;
}

.secondProject img:hover {
  scale: 1.1;
}

.secondProjectTitle {
  font-size: 16px;
  font-weight: bold;
  color: rgb(17, 24, 39);
  margin-top: 0;
}

.getInTouch {
  border-top: 1px solid lightgray;
  padding: 80px;
}
.getInTouchTitle {
  background-color: rgb(193, 193, 245, 0.5);
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 120px;
  padding: 2px 5px;
}

.getInTouch p {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  color: rgb(94, 94, 94);
}
.contactDetails,
.contactDetails input {
  text-align: center;
  font-size: 28px;
  color: rgb(68, 68, 68);
}

.contactDetails input {
  border: none;
  width: 230px;
  position: relative;
  left: -10px;
  top: -6px;
}
.emailInput {
  width: 358px !important;
}

.emailIcon,
.phoneIcon,
.copyIcon {
  font-size: 30px;
}

.copyIcon {
  color: rgb(193, 193, 245);
  position: relative;
  left: -18px;
}
.moreContactDetails {
  text-align: center;
  color: rgb(94, 94, 94);
}

.icons {
  display: flex;
  justify-content: space-around;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
